:root {
  --nav-menu_width: 22.8vw;
  --description_width: 65.3vw;
  --nav-menu_bg: #6BBAA3;
  --nav-menu__item_color: #FFE6FF;
  --nav-menu__item_color_active: #A0148E;
  --description_bg: #AE7AA3;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

body {
  color: #313628;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.theme-lmarkt {
  --nav-menu_bg: #6BBAA3;
  --nav-menu__item_color: #FFE6FF;
  --nav-menu__item_color_active: #A0148E;
  --description_bg: #AE7AA3;
}

.theme-russgaz {
  --nav-menu_bg: #017DD8;
  --nav-menu__item_color: #E6F4F1;
  --nav-menu__item_color_active: #002670;
  --description_bg: #A4ABBD;
}

.theme-kvast {
  --nav-menu_bg: #B08969;
  --nav-menu__item_color: #DFE0DF;
  --nav-menu__item_color_active: #834700;
}

.theme-contacts {
  --nav-menu_bg: #C3BAD8;
  --nav-menu__item_color: #D7E5E8;
  --nav-menu__item_color_active: #00486D;
}

.theme-cm-expert {
  --nav-menu_bg: #579395;
  --nav-menu__item_color: #BEFCFE;
  --nav-menu__item_color_active: #891F00;
}

.theme-snake-js-native {
  --nav-menu_bg: #B5B5B5;
  --nav-menu__item_color: #DDEEEF;
  --nav-menu__item_color_active: #474554;
}

.theme-snake-react {
  --nav-menu_bg: #9A6387;
  --nav-menu__item_color: #EFEFDC;
  --nav-menu__item_color_active: #5e3d19;
}
