:root {
  --projects_width: 22.8vw;
  --description_width: 65.3vw;
  --projects_bg: #6BBAA3;
  --projects-item_color: #FFE6FF;
  --projects-item_color_active: #A0148E;
  --description_bg: #AE7AA3;
  --mediaMaxL: 1600px;
  --mediaMaxM: 1250px;
  --mediaMaxS: 767px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

body {
  color: #313628;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.theme-lmarkt {
  --projects_bg: #6BBAA3;
  --projects-item_color: #FFE6FF;
  --projects-item_color_active: #A0148E;
  --description_bg: #AE7AA3;
}

.theme-russgaz {
  --projects_bg: #017DD8;
  --projects-item_color: #E6F4F1;
  --projects-item_color_active: #002670;
  --description_bg: #A4ABBD;
}

.theme-kvast {
  --projects_bg: #B08969;
  --projects-item_color: #DFE0DF;
  --projects-item_color_active: #834700;
}

.theme-contacts {
  --projects_bg: #C3BAD8;
  --projects-item_color: #D7E5E8;
  --projects-item_color_active: #00486D;
}

.theme-cm-expert {
  --projects_bg: #579395;
  --projects-item_color: #BEFCFE;
  --projects-item_color_active: #891F00;
}

.theme-snake-js-native {
  --projects_bg: #B5B5B5;
  --projects-item_color: #DDEEEF;
  --projects-item_color_active: #474554;
}

.theme-snake-react {
  --projects_bg: #9A6387;
  --projects-item_color: #EFEFDC;
  --projects-item_color_active: #5e3d19;
}
