.socialnet {
  display: flex;
  gap: 2rem;
}

.socialnet__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 9rem;
  opacity: 0.5;
  width: 9rem;
}

.socialnet__item:hover {
  opacity: 1;
}

.socialnet__item_github {
  background-image: url(./img/github_black_circle.svg);
}

.socialnet__item_telegram {
  background-image: url(./img/telegram_black_circle.svg);
}

.socialnet__item_linkedin {
  background-image: url(./img/linkedin_black_circle.svg);
}

.socialnet__item_mail {
  background-image: url(./img/email_black_circle.svg);
}
